/* General Styling */
body{
  margin:0px;
  padding: 0px;
}
div{
  margin:0px;
  padding: 0px;
}
p{
  margin:0px;
  padding: 0px;
}
button{
  margin:0px;
  padding: 0px;
}
/* container styling which is the full screen */
.container{
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* calculator body styling */
.calculator{
  width: 400px;
  height: 467px;
  background-color: blueviolet;
  border:2px solid black;
}
/* result component styling */
.result{
  width: 100%;
  height: 25%;
  background-color: lightslategrey;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  border-bottom: 1px solid black;
  position: relative;
}
.option{
  position: absolute;
  top: 0px;
  left: 5px;
  width: 90px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.option div{
  height: 20px;
  width: 20px;
  border-radius: 50%;
}
.result p{
  color: white;
  font-size: 55px;
  font-weight: 500;
  padding: 10px;
}
/* keypad component styling */
.keypad{
  width: 100%;
  height: 70%;
  background-color: burlywood;
}
.keypad button{
  width: 25%;
  height: 70px;
  font-size: 45px;
  font-weight: 500;
  border: 1px solid gray;
}
/* styling for the background color */
.bg_orange{
  background-color: orange;
}
.bg_lightGray{
  background-color: lightgray;
}
.bg_red{
  background-color: red;
}
.bg_yellow{
  background-color: yellow;
}
.bg_green{
  background-color: green;
}
/* responsive */
@media screen and (max-width: 500px){
  .calculator{
    width: 330px;
    height: 400px;
  }
  .keypad button{
    height: 60px;
  }
  .option{
    width: 80px;
  }
  .option div{
    width: 17px;
    height: 17px;
  }
}
@media screen and (max-width: 400px){
  .calculator{
    width: 250px;
    height: 350px;
  }
  .keypad button{
    height: 52px;
    font-size: 30px;
  }
  .result p{
    font-size: 35px;
  }
  .option{
    width: 60px;
  }
  .option div{
    width: 15px;
    height: 15px;
  }
}